@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: transparent;
  color: #f8fafc;
}

html,
body {
  background-color: transparent;

  margin: 0;
  overflow: hidden;
  /* Prevent scrollbars for overlay app */
}